workflow.json
{
  "name": "Google Sheets → WooCommerce Bulk Product Import",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Productos"
        },
        "range": "A:E",
        "options": {}
      },
      "id": "sheets-read",
      "name": "Read Products Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [260, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-nombre",
              "leftValue": "={{ $json.Nombre }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "condition-sku",
              "leftValue": "={{ $json.SKU }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-validate",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [520, 0]
    },
    {
      "parameters": {},
      "id": "noop-discarded",
      "name": "Discarded Rows",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-name",
              "name": "productName",
              "value": "={{ $json.Nombre }}",
              "type": "string"
            },
            {
              "id": "assign-sku",
              "name": "sku",
              "value": "={{ $json.SKU }}",
              "type": "string"
            },
            {
              "id": "assign-price",
              "name": "regularPrice",
              "value": "={{ String($json.Precio) }}",
              "type": "string"
            },
            {
              "id": "assign-desc",
              "name": "description",
              "value": "={{ $json.Descripcion || '' }}",
              "type": "string"
            },
            {
              "id": "assign-stock",
              "name": "stockQuantity",
              "value": "={{ Number($json.Stock) || 0 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "set-map-fields",
      "name": "Map Fields for WooCommerce",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [780, 0]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split-batches",
      "name": "Process in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1040, 0]
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "={{ $json.productName }}",
        "additionalFields": {
          "sku": "={{ $json.sku }}",
          "regularPrice": "={{ $json.regularPrice }}",
          "description": "={{ $json.description }}",
          "manageStock": true,
          "stockQuantity": "={{ $json.stockQuantity }}",
          "status": "draft",
          "type": "simple"
        }
      },
      "id": "woo-create",
      "name": "Create Product in WooCommerce",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [1300, 0],
      "credentials": {
        "wooCommerceApi": {
          "id": "UW4GRV3aczNWbsHF",
          "name": "WooCommerce LocalWP"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-error",
              "leftValue": "={{ $json.error }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-error",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1560, 0]
    },
    {
      "parameters": {},
      "id": "noop-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {},
      "id": "noop-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1820, 0]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Products Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Products Sheet": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Map Fields for WooCommerce",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discarded Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Fields for WooCommerce": {
      "main": [
        [
          {
            "node": "Process in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process in Batches": {
      "main": [
        [],
        [
          {
            "node": "Create Product in WooCommerce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product in WooCommerce": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Process in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Process in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
