workflow_2.0.json
[{"updatedAt":"2026-06-04T22:09:36.749Z","createdAt":"2026-06-03T16:02:20.338Z","id":"YTGJh08vSCwt9zWQ","name":"Webhook: Sheets → WooCommerce Bulk Import","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"trigger-manual","name":"Manual Trigger","position":[0,0],"type":"n8n-nodes-base.manualTrigger","typeVersion":1},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"condition-nombre","leftValue":"={{ $json.Nombre }}","operator":{"operation":"notEmpty","singleValue":true,"type":"string"}},{"id":"condition-sku","leftValue":"={{ $json.SKU }}","operator":{"operation":"notEmpty","singleValue":true,"type":"string"}}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}},"options":{}},"id":"if-validate","name":"Validate Required Fields","position":[528,0],"type":"n8n-nodes-base.if","typeVersion":2.3,"onError":"continueErrorOutput"},{"parameters":{},"id":"noop-discarded","name":"Discarded Rows","position":[528,304],"type":"n8n-nodes-base.noOp","typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"assign-name","name":"productName","type":"string","value":"={{ $json.Nombre }}"},{"id":"assign-sku","name":"sku","type":"string","value":"={{ $json.SKU }}"},{"id":"assign-price","name":"regularPrice","type":"string","value":"={{ String($json.Precio) }}"},{"id":"assign-desc","name":"description","type":"string","value":"={{ $json.Descripcion || '' }}"},{"id":"assign-stock","name":"stockQuantity","type":"number","value":"={{ Number($json.Stock) || 0 }}"},{"id":"assign-fila-sheets","name":"fila_sheets","type":"number","value":"={{ $json.fila_sheets }}"}]},"options":{}},"id":"set-map-fields","name":"Map Fields for WooCommerce","position":[784,0],"type":"n8n-nodes-base.set","typeVersion":3.4},{"parameters":{"batchSize":5,"options":{}},"id":"split-batches","name":"Process in Batches","position":[1040,0],"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"resource":"product","operation":"create","name":"={{ $json.productName }}","additionalFields":{"description":"={{ $json.description }}","manageStock":true,"regularPrice":"={{ $json.regularPrice }}","sku":"={{ $json.sku }}","status":"draft","stockQuantity":"={{ $json.stockQuantity }}","type":"simple"},"dimensionsUi":{},"imagesUi":{},"metadataUi":{}},"id":"woo-create","name":"Create Product in WooCommerce","position":[1312,0],"type":"n8n-nodes-base.wooCommerce","typeVersion":1,"credentials":{"wooCommerceApi":{"id":"UW4GRV3aczNWbsHF","name":"WooCommerce LocalWP"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"condition-hasError","leftValue":"={{ $json.hasError }}","operator":{"operation":"true","singleValue":true,"type":"boolean"}}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}},"options":{}},"id":"if-error","name":"Check for Errors","position":[1600,-16],"type":"n8n-nodes-base.if","typeVersion":2.3,"onError":"continueErrorOutput"},{"parameters":{},"id":"noop-error","name":"Log Error","position":[1568,304],"type":"n8n-nodes-base.noOp","typeVersion":1,"onError":"continueErrorOutput"},{"parameters":{},"id":"noop-success","name":"Log Success","position":[1824,0],"type":"n8n-nodes-base.noOp","typeVersion":1},{"parameters":{"httpMethod":"POST","path":"productos-sync","options":{}},"id":"webhook-trigger","name":"Webhook","position":[0,192],"type":"n8n-nodes-base.webhook","typeVersion":1,"webhookId":"eb71ce0b-ec92-48c0-9392-5e0d2d3b727c"},{"parameters":{"fieldToSplitOut":"body.productos","options":{}},"id":"item-lists-split","name":"Split Out Products","position":[272,-16],"type":"n8n-nodes-base.itemLists","typeVersion":2.1},{"parameters":{"operation":"update","documentId":{"mode":"url","value":"https://docs.google.com/spreadsheets/d/1bnn4CeGevUvKJmbGVdMGtsPmPnMs-bS-XdzRdGBICiQ/edit?gid=388437876#gid=388437876"},"sheetName":{"mode":"name","value":"Productos"},"columns":{"mappingMode":"defineBelow","value":{"Estado":"Sincronizado","Sincronizar":false,"SKU":"={{ $('Process in Batches').item.json.sku }}"},"matchingColumns":["SKU"]},"options":{}},"id":"sheets-update-success","name":"Update Success in Sheets","position":[2080,0],"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"7dlWSVzJGL0kxmq1","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"mode":"url","value":"https://docs.google.com/spreadsheets/d/1bnn4CeGevUvKJmbGVdMGtsPmPnMs-bS-XdzRdGBICiQ/edit?gid=388437876#gid=388437876"},"sheetName":{"mode":"name","value":"Productos"},"columns":{"mappingMode":"defineBelow","value":{"Estado":"Error","Detalle Error":"={{ $json.errorMessage }}","SKU":"={{ $('Process in Batches').item.json.sku }}"},"matchingColumns":["SKU"]},"options":{}},"id":"sheets-update-error","name":"Update Error in Sheets","position":[1824,304],"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"7dlWSVzJGL0kxmq1","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\nfor (const item of items) {\n  item.json = item.json || {};\n  if (item.error) {\n    item.json.hasError = true;\n    item.json.errorMessage = item.error.message || item.error.description || 'Error desconocido';\n  } else if (!item.json.id) {\n    item.json.hasError = true;\n    item.json.errorMessage = 'Fallo sin ID devuelto';\n  } else {\n    item.json.hasError = false;\n  }\n}\nreturn items;"},"id":"code-catch-error","name":"Catch Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,0]}],"connections":{"Check for Errors":{"main":[[{"index":0,"node":"Log Error","type":"main"}],[{"index":0,"node":"Log Success","type":"main"}]]},"Create Product in WooCommerce":{"main":[[{"node":"Catch Error","type":"main","index":0}]]},"Log Error":{"main":[[{"node":"Update Error in Sheets","type":"main","index":0}]]},"Log Success":{"main":[[{"node":"Update Success in Sheets","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"index":0,"node":"Split Out Products","type":"main"}]]},"Map Fields for WooCommerce":{"main":[[{"index":0,"node":"Process in Batches","type":"main"}]]},"Process in Batches":{"main":[[],[{"node":"Create Product in WooCommerce","type":"main","index":0}]]},"Split Out Products":{"main":[[{"index":0,"node":"Validate Required Fields","type":"main"}]]},"Validate Required Fields":{"main":[[{"index":0,"node":"Map Fields for WooCommerce","type":"main"}],[{"index":0,"node":"Discarded Rows","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Split Out Products","type":"main"}]]},"Update Error in Sheets":{"main":[[{"node":"Process in Batches","type":"main","index":0}]]},"Update Success in Sheets":{"main":[[{"node":"Process in Batches","type":"main","index":0}]]},"Catch Error":{"main":[[{"node":"Check for Errors","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"ea8086e4-03bb-498f-8cbf-9e5a8cab35ad","activeVersionId":"f01123d3-5976-49ba-991a-4ea2e57bd80e","versionCounter":29,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-03T16:02:20.344Z","createdAt":"2026-06-03T16:02:20.344Z","role":"workflow:owner","workflowId":"YTGJh08vSCwt9zWQ","projectId":"RXcV6dZzhx8XzVbN","project":{"updatedAt":"2026-05-18T17:31:15.729Z","createdAt":"2026-04-21T01:31:58.450Z","id":"RXcV6dZzhx8XzVbN","name":"Santiago Liendo <santi.liendor@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f086c6a0-ac83-4ef0-b946-3b7ab52dfb37"}}],"versionMetadata":{"name":null,"description":null}}]